<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>Page Title</title>


</head>

<body>

<h1>Sum two values</h1>

<p><img src="img/sum_two_values.png" alt="" /></p>

{{ prueba }}


{% include 'sum_two_values.html' %}


# Sum many values

# Sum two lists of values

# Find the minimum of two values

# Find max of many values

# Find number of vowels

# Pinta la tabla de multiplicar del número que sea

# 10 elefantes

# Adivina el número

# Pinta una progresión aritmética.

# Simula un dado

# El mediano de una lista

#

</body>
</html>
