{% extends "base.html" %}
{% block title %}Examples{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}


{% block content %}
<h1> Reference - The Compy Project</h1>

<p> In this page you can find codes for colors, keys and chars, used
    to program in Compy.</p>

<h2> Color Codes</h2>

These are the meaning of the codes used in commands like scrn.printf() or scrn.set_bg_color().

<ul>
{% for code, name, color in colors %}
    <li style="color:{{ color }}"> Code: {{ code }} - Name: {{ name }}</li>
{% endfor %}

</ul>

<h2> Key codes </h2>

These are the codes returned by scrn.input(), etc.


<table>
<tr> <th> Key pressed </th> <th> Returned code </th> </tr>

{% for code, key in keys %}
    <tr> <td> {{ key }} </td> <td> {{ code }} </td> </tr>
{% endfor %}

</table>



<h2> Chars </h2>

These are the codes of chars you can use in scrn.poke()

<ul>

</ul>



<table>
<tr>
<th> Code </th>
<th> Bitmap </th>
</tr>

{% for code, bitmap_path in bitmaps %}
    <tr align="middle">
        <td align="middle"> {{ code }} </td> <td align="bottom"> <img src="{{ bitmap_path }}" alt="Bitmap" > </td>
    </tr>
{% endfor %}

</table>


<hr/>

{% endblock %}
