<div class="highlight"><pre><span class="kn">import</span> <span class="nn">compy</span>


<span class="k">def</span> <span class="nf">main</span><span class="p">(</span><span class="n">sc</span><span class="p">):</span>

    <span class="n">sc</span><span class="o">.</span><span class="n">clear_screen</span><span class="p">()</span>

    <span class="n">sc</span><span class="o">.</span><span class="n">printf</span><span class="p">()</span>
    <span class="n">sc</span><span class="o">.</span><span class="n">printf</span><span class="p">(</span><span class="s">&#39;    SUM OF TWO VALUES&#39;</span><span class="p">,</span> <span class="n">color</span><span class="o">=</span><span class="mi">4</span><span class="p">)</span>
    <span class="n">sc</span><span class="o">.</span><span class="n">printf</span><span class="p">(</span><span class="s">&#39;    =================&#39;</span><span class="p">)</span>
    <span class="n">sc</span><span class="o">.</span><span class="n">printf</span><span class="p">()</span>

    <span class="n">first_value</span> <span class="o">=</span> <span class="n">sc</span><span class="o">.</span><span class="n">input</span><span class="p">(</span><span class="s">&quot;Give me one value: &quot;</span><span class="p">,</span> <span class="n">color</span><span class="o">=</span><span class="mi">8</span><span class="p">)</span>

    <span class="n">second_value</span> <span class="o">=</span> <span class="n">sc</span><span class="o">.</span><span class="n">input</span><span class="p">(</span><span class="s">&quot;Give me another value: &quot;</span><span class="p">)</span>

    <span class="n">sum_of_values</span> <span class="o">=</span> <span class="n">first_value</span> <span class="o">+</span> <span class="n">second_value</span>

    <span class="n">response</span> <span class="o">=</span> <span class="s">&#39;The sum of {} and {} is {}&#39;</span><span class="o">.</span><span class="n">format</span><span class="p">(</span><span class="n">first_value</span><span class="p">,</span> <span class="n">second_value</span><span class="p">,</span> <span class="n">sum_of_values</span><span class="p">)</span>

    <span class="n">sc</span><span class="o">.</span><span class="n">printf</span><span class="p">()</span>
    <span class="n">sc</span><span class="o">.</span><span class="n">printf</span><span class="p">(</span><span class="n">response</span><span class="p">,</span> <span class="n">color</span><span class="o">=</span><span class="mi">6</span><span class="p">)</span>


<span class="n">compy</span><span class="o">.</span><span class="n">run</span><span class="p">(</span><span class="n">main</span><span class="p">)</span>
</pre></div>
